@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');



@import "reset";
@import "variables/global";
@import "themes/default";
@import "themes/dark";

*{
	font-family: 'Open Sans', sans-serif;
}

body{
	font: 'Roboto', sans-serif;
	background:  var(--bg-color);
	background-color: var(--bg-color);
	
	color: var(--secondary-color);	
	min-height: 100vh;
	h1{
		color: var(--primary-color);
	}
	
}

.main_container{
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}


