.light__theme{
    --bg-color: #E9EBEE;
    --bg-color-secondary: #F7F7F7;


    --primary-color: #020100;
    --secondary-color: #808A9F;
    --inverted-primary-color: #020100;
    --inverted-purple-color: #7E56D2;
    --purple-color: #713ABF;
    --gray-color: #808A9F;
    --inverted-gray-color: #526662;


}